{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

		<!-- META ============================================= -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<meta name="robots" content="" />
		
		<!-- DESCRIPTION -->
		<meta name="description" content="NETRYBE technology is company based in Abuja, comprising 
		of tech professionals working together to profer solutions
		 to business challenges and  our most pressing
		problems as a multi-diverse society.Our vision is to build a robust and dynamic IT company 
		 helping to proffer business solution 
		to daily challenges and to make a  TRYBE of vibrant individuals making a mark.
	
		" />
		
		<!-- OG -->
		<meta property="og:title" content="NETRYBE Technology " />
		<meta property="og:description" content="NETRYBE technology is company based in Abuja, comprising 
		of tech professionals working together to profer solutions
		 to business challenges and  our most pressing
		problems as a multi-diverse society.Our vision is to build a robust and dynamic IT company 
		 helping to proffer business solution 
		to daily challenges and to make a  TRYBE of vibrant individuals making a mark" />
	
		<meta property="og:image" content="Our vision is to build a robust and dynamic IT company 
		 helping to proffer business solution 
		to daily challenges and to make a  TRYBE of vibrant individuals making a mark" />
		<meta name="format-detection" content="+23408051125659">
		
		<!-- FAVICONS ICON ============================================= -->
		<link rel="icon" href="{% static 'assets/images/netrybefav.png' %} " type="image/x-icon" />
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/netrybefav.png' %}" />
		
		<!-- PAGE TITLE HERE ======= ======= ====== ====== ======= ===== ====== -->
		<title> NETRYBE:: Business intelligence </title>
		
		<!-- MOBILE SPECIFIC ======== ======== ======== ======== ============= -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	
	
	
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css' %}">
	
	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">
	
	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">
	
	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.css' %}">
	
	<!-- REVOLUTION SLIDER CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/settings.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/navigation.css' %}">
	<!-- REVOLUTION SLIDER END -->
</head>
<body id="bg">
<div class="page-wraper">

	<!-- Header ZONE  ==== -->
	{% include  'includes/header.html' %}


    <!-- Header Top END ==== -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Main Slider -->
        <div class="section-area section-sp1 m-b100 ovpr-light bg-fix online-cours"
         style="background-image:url({% static 'assets/images/bg2.jpg' %}); height=900px;">
				<div class="container">
					<div class="row">
						<div class="col-md-12 m-t20 text-center text-white">
							<h2>Business intelligence and optimization</h2>
							<h5>Aiding business make optimal decision </h5>
							
							<!--<form class="cours-search">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="What do you want to learn today?	">
									<div class="input-group-append">
										<button class="btn" type="submit">Search</button> 
									</div>
								</div>
							</form>-->
						</div>
					</div>
					
				</div>
			</div>

			 <!-- Our Story ==== -->
			 <div class="section-area m-m-t100 bg-gray section-sp1 our-story">
				<div class="container">
					<div class="row align-items-center d-flex">
						<div class="col-lg-5 col-md-12 heading-bx">
							<h2 class="m-b10"> Businesses can make optimal decision</h2>
							<h5 class="fw4"> we speak solutions </h5>
							<p> A tech company based in Abuja, comprising 
								 of tech professionals working together to profer solutions  to business challenges and  our most pressing
								  problems as a multi-diverse society.
								 </p>

								 <p>
									Our vision is to build a robust and dynamic IT company  helping to proffer business solution 
to daily challenges and to make a  TRYBE of vibrant individuals making a mark.
</p>
<p>
We are passionate at becoming a world class solution hub to aid businesses, 
organisations and individuals grow using technology as a spring-board to
 provide dynamic solutions

								 </p>
                                 <h5 class="m-b5">software solutions</h5>
                                 <ul class="list-checked primary">
                                     <li>e-commerce</li>
                                     <li>management system</li>
                                     <li> inventory Systems</li>
                            
                                 </ul>
						</div>
						<div class="col-lg-7 col-md-12 heading-bx p-lr">
							<div class=" event-bx">
								<img src="{% static 'assets/images/bi.jpg' %}" alt=""/>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Our Story END ==== -->

        <!-- Main Slider -->
		<div class="content-block">
            <!-- our services -->
			
			<!-- Popular Courses END -->


			
			<!-- Form END -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						 <div class="col-lg-6 m-b30">
							<h2 class="title-head ">why choose us  <br> <span class="text-primary"> </span></h2>
							
						
							
						 </div>
						 <div class="col-lg-6 p-5 event-bx">
							<div class="row">
							   <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								   <div class="feature-container ">
									   <div class="feature-md text-white m-b20">
										   <a href="#" class="icon-cell"><img src="assets/images/icon/icon1.png" alt=""></a> 
									   </div>
									   <div class="icon-content">
										   <h5 class="ttr-tilte">Excellence</h5>
										   <p>We’re committed to an excellent and timely delivery of high quality 
											   services to our esteemed clients.</p>
									   </div>
								   </div>
							   </div>
							   <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								   <div class="feature-container">
									   <div class="feature-md text-white m-b20">
										   <a href="#" class="icon-cell"><img src="assets/images/icon/icon2.png" alt=""></a> 
									   </div>
									   <div class="icon-content">
										   <h5 class="ttr-tilte">Solution driven</h5>
										   <p>We geared to use technology as a tool to solve real-life 
											   problems faced by businesses today.</p>
									   </div>
								   </div>
							   </div>
							   <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								   <div class="feature-container">
									   <div class="feature-md text-white m-b20">
										   <a href="#" class="icon-cell"><img src="assets/images/icon/icon3.png" alt=""></a> 
									   </div>
									   <div class="icon-content">
										   <h5 class="ttr-tilte">Innovative</h5>
										   <p> Squared pegs fitting the seemingly impossible into possible round holes.</p>
									   </div>
								   </div>
							   </div>
							   <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								   <div class="feature-container">
									   <div class="feature-md text-white m-b20">
										   <a href="#" class="icon-cell"><img src="assets/images/icon/icon4.png" alt=""></a> 
									   </div>
									   <div class="icon-content">
										   <h5 class="ttr-tilte">Client centric</h5>
										   <p>our clients are our topmost priority, so we esteem their opinions in the  processes.</p>
									   </div>
								   </div>
							   </div>
						   </div>
					   </div>
					</div>
				</div>
            </div>
			
			<!-- Contact -->
			<!-- Contact -->
			<div class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center" 
			style="background-image:url({% static 'assets/images/bg2.jpg' %});">
                <div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="join-content-bx text-white">
								<h2>Ready to build that next big thing ? <br> </h2>
								
								<p>we had love to know </p>
								<a href="https://wa.link/qkk0uc" class="btn button-md"><i class="fa fa-whatsapp" 
									aria-hidden="true"></i> chat with us </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Testimonials END -->
			<!-- Testimonials ==== 
			<div class="section-area section-sp2">
				<div class="container">
					<div class="row">
						<div class="col-md-12 heading-bx left">
							<h2 class="title-head text-uppercase">what people <span>say</span></h2>
							<p>solution is obvious</p>
						</div>
					</div>
					<div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-thumb">
									<img src="assets/images/testimonials/pic1.jpg" alt="">
								</div>
								<div class="testimonial-info">
									<h5 class="name">Seun Paul</h5>
									<p>student</p>
								</div>
								<div class="testimonial-content">
									<p> The quality of training staff , is truly excellent . i have learnt  so much in this short time been in this 
										awesome TRYBE
									</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-thumb">
									<img src="assets/images/testimonials/pic2.jpg" alt="">
								</div>
								<div class="testimonial-info">
									<h5 class="name"> sam J</h5>
									<p>Entreprenur</p>
								</div>
								<div class="testimonial-content">
									<p> Thanks to NETRYBRE, my business ROI is increasing since in started using their enterprise solution they offered
										to optimise my workflow. 
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			 Testimonials END ==== -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer 
	<div class="section-area section-sp2 popular-courses-bx">
		<div class="container">
			<div class="row">
				<div class="col-md-12 heading-bx left">
					<h2 class="title-head">what we<span>offer </span></h2>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
				</div>
			</div>
			<div class="row">
			<div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0">
				<div class="item">
					<div class="cours-bx">
						
						<div class="info-bx text-center">
							<h5><a href="#">software. development</a></h5>
							<div class="icon-box">
								<h3><i class="ti-desktop"></i></h3>
								
							</div>
							<span>portals, e-commerce applications, business 
								application and automation software</span>

							<div class="icon-box">
								
								<a href="#" class="btn">Read More</a>
							</div>
							
						</div>
							
					
						
					</div>
				</div>
				<div class="item">
					<div class="cours-bx">
						
						<div class="info-bx text-center">
							<h5><a href="#">Talent Training</a></h5>
							<div class="icon-box">
								<h3><i class="ti-user"></i></h3>
								
							</div>
							<span>python, e-commerce applications, business 
								application and automation software</span>

							<div class="icon-box">
								
								<a href="#" class="btn">Read More</a>
							</div>
						</div>
							
						</div>
						
					
				</div>
				<div class="item">
					<div class="cours-bx">
						
						<div class="info-bx text-center">
							<h5><a href="#">Data science &  Analytics</a></h5>
							<div class="icon-box">
								<h3><i class="ti-bar-chart"></i></h3>
								
							</div>
							<span>python, e-commerce applications, business 
								application and automation software</span>

							<div class="icon-box">
								
								<a href="#" class="btn">Read More</a>
							</div>
						</div>
							
						</div>
						
					
				</div>
				<div class="item">
					<div class="cours-bx">
				
						<div class="info-bx text-center">
							<h5><a href="#">Digital marketing</a></h5>
							<div class="icon-box">
								<h3><i class="ti-magnet"></i></h3>
								
							</div>
							<span>python, e-commerce applications, business 
								application and automation software</span>

							<div class="icon-box">
								
								<a href="#" class="btn">Read More</a>
							</div>
						</div>
						
					</div>
				</div>
<div class="item">
					<div class="cours-bx">
						
						<div class="info-bx text-center">
							<h5><a href="#">project management</a></h5>
							<div class="icon-box">
								<h3><i class="ti-blackboard"></i></h3>
								
							</div>
							<span>python, e-commerce applications, business 
								application and automation software</span>

							<div class="icon-box">
								
								<a href="#" class="btn">Read More</a>
							</div>
						</div>
							
						</div>
						
					
				</div>
				<div class="item">
					<div class="cours-bx">
				
						<div class="info-bx text-center">
							<h5><a href="#">Product design</a></h5>
							<div class="icon-box">
								<h3><i class="ti-pencil-alt"></i></h3>
								
							</div>
							<span>python, e-commerce applications, business 
								application and automation software</span>

							<div class="icon-box">
								
								<a href="#" class="btn">Read More</a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>==== -->
	{% include 'netrybe/footer.html' %}

    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up" ></button>
</div>

<!-- External JavaScripts -->

<!-- External JavaScripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'assets/vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/filter.js' %}"></script>
<script src="{% static 'assets/vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/functions.js' %}"></script>
<script src="{% static 'assets/js/contact.js' %}"></script>

<!-- Revolution JavaScripts Files -->
<script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->

</body>

</html>
