{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="NETRYBE technology is company based in Abuja, comprising 
	of tech professionals working together to profer solutions
	 to business challenges and  our most pressing
	problems as a multi-diverse society.Our vision is to build a robust and dynamic IT company 
	 helping to proffer business solution 
	to daily challenges and to make a  TRYBE of vibrant individuals making a mark.

	" />
	
	<!-- OG -->
	<meta property="og:title" content="NETRYBE Technology " />
	<meta property="og:description" content="NETRYBE technology is company based in Abuja, comprising 
	of tech professionals working together to profer solutions
	 to business challenges and  our most pressing
	problems as a multi-diverse society.Our vision is to build a robust and dynamic IT company 
	 helping to proffer business solution 
	to daily challenges and to make a  TRYBE of vibrant individuals making a mark" />

	<meta property="og:image" content="Our vision is to build a robust and dynamic IT company 
	 helping to proffer business solution 
	to daily challenges and to make a  TRYBE of vibrant individuals making a mark" />
	<meta name="format-detection" content="+23408051125659">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="{% static 'assets/images/netrybefav.png' %} " type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/netrybefav.png' %}" />
	
	<!-- PAGE TITLE HERE ======= ======= ====== ====== ======= ===== ====== -->
	<title> HOME </title>
	
	<!-- MOBILE SPECIFIC ======== ======== ======== ======== ============= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	
	
	
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css' %}">
	
	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">
	
	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">
	
	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.css' %}">
	
	<!-- REVOLUTION SLIDER CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/settings.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/navigation.css' %}">
	<!-- REVOLUTION SLIDER END -->
</head>
<body id="bg">
<div class="page-wraper">
<!--<div id="loading-icon-bx"></div>-->
	<!-- Header ZONE==== -->


	{% include  'includes/header.html' %}
    
    <!-- Header Top END ==== -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Main Slider -->
        <div class="section-area section-sp1 m-b100 ovpr-light bg-fix online-cours" style="background-image:url({% static 'assets/images/codinglady.jpg' %}); height=900px;">
				<div class="container">
					<div class="row">
						<div class="col-md-12 m-t20 text-center text-white">
                            <h2>WE'RE A TRYBE OF SOLUTION</h2>
							<h6> we speak tech solution via</h6>
							<!--<form class="cours-search">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="What do you want to learn today?	">
									<div class="input-group-append">
										<button class="btn" type="submit">Search</button> 
									</div>
								</div>
							</form>-->
						</div>
					</div>
					<div class="mw900 m-a60">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="cours-search-bx m-b30">
									<div class="icon-box">
										<h3><i class="ti-desktop"></i></h3>
									</div>
									<span class="cours-search-text">Software Dev.</span>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="cours-search-bx m-b30">
									<div class="icon-box">
										<h3><i class="ti-user"></i></h3>
									</div>
									<span class="cours-search-text">Talent Training.</span>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="cours-search-bx m-b30">
									<div class="icon-box">
										<h3><i class="ti-bar-chart-alt"></i></h3>
									</div>
									<span class="cours-search-text">Data science</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



	
<!-- BOOTCAMP  -->


<!-- END BOOTCAMP -->



			<!-- WELCOME -->

            <div class="section-area bg-gray section-sp2 choose-bx">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 heading-bx text-center">
                            <h2 class="title-head text-uppercase m-b0"><span>We're  </span> NETRYBE </h2>

                        </div>
                        <div class="col-lg-8 offset-2"><p> 

						 We are a TYRYBE of incredible tech people with a culture of excellence.
						   By the punch of a button we are leveraging on technology 
						    to provide business solutions and we do this value driven 

						</p>
						<a href="{% url 'about' %}" class="btn">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
			<!-- WELCOME-->


			 <!-- Our Story ==== -->
			
			<!-- Our Story END ==== -->



<!-- WHAT WE DO -->

<div class="section-area section-sp2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center heading-bx">
				<h2 class="title-head m-b0">Our services <span>simplifies</span></h2>
			
			</div>
		</div>
		<div class="row">
		<div class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0  m-b30">
			<div class="item">
				<div class="event-bx">
					<div class="action-box">
						<img src="{% static 'assets/images/lapcoding.jpg' %}" alt="">
					</div>
					<div class="info-bx d-flex">
						<div>
							<div class="event-time">
								<div class="event-date"><i class="ti-desktop"></i></div>
								<div class="event-month"></div>
							</div>
						</div>
						<div class="event-info">
							<h4 class="event-title"><a href="#">Software Development  </a></h4>
							<ul class="media-post">
								<li><a href="#"><i class="fa fa-check"></i> powering business with custom tech solution </a></li>

							</ul>
							
							<div class="icon-box">
										
								<a href="{% url 'softwaredev' %}" class="btn">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="event-bx">
					<div class="action-box">
						<img src="{% static 'assets/images/friendscode.jpg' %}" alt="">
					</div>
					<div class="info-bx d-flex">
						<div>
							<div class="event-time">
								<div class="event-date"><i class="ti-blackboard"></i></div>
								<div class="event-month"></div>
							</div>
						</div>
						<div class="event-info">
							<h4 class="event-title"><a href="#">Talent training</a></h4>
							<ul class="media-post">
								<li><a href="{% url 'courses' %}"><i class="fa fa-check"></i> hands-on training in tech with outsourcing </a></li>
								
							</ul>
							

							<div class="icon-box">
										
								<a href="{% url 'courses' %}" class="btn">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="event-bx">
					<div class="action-box">
						<img src="{% static 'assets/images/wendesign.png' %}" alt="">
					</div>
					<div class="info-bx d-flex">
						<div>
							<div class="event-time">
								<div class="event-date"><i class="ti-stats-up"></i></div>
								<div class="event-month"></div>
							</div>
						</div>
						<div class="event-info">
							<h4 class="event-title"><a href="#">Website & Graphics Design</a></h4>
							<ul class="media-post">
								<li><a href="#"><i class="fa fa-check"></i> captivate grahics and resposive website for your need</a></li>
								
							</ul>
							
							<div class="icon-box">
										
								<a href="#" class="btn">Read More</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="event-bx">
					<div class="action-box">
						<img src="{% static 'assets/images/bi.jpg' %}" alt="">
					</div>
					<div class="info-bx d-flex">
						<div>
							<div class="event-time">
								<div class="event-date"><i class="ti-stats-up"></i></div>
								<div class="event-month"></div>
							</div>
						</div>
						<div class="event-info">
							<h4 class="event-title"><a href="#">AI , Data science Research</a></h4>
							<ul class="media-post">
								<li><a href="#"><i class="fa fa-check"></i> scientific research geared towards AI & data science</a></li>
								
							</ul>
							
							<div class="icon-box">
										
								<a href="#" class="btn">Read More</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>


			<div class="item">
				<div class="event-bx">
					<div class="action-box">
						<img src="{% static 'assets/images/erp.png' %}" style="width:50rem" alt="">
					</div>
					<div class="info-bx d-flex">
						<div>
							<div class="event-time">
								<div class="event-date"><i class="ti-stats-up"></i></div>
								<div class="event-month"></div>
							</div>
						</div>
						<div class="event-info">
							<h4 class="event-title"><a href="#">Enterprise Systems solution</a></h4>
							<ul class="media-post">
								<li><a href="{% url 'enterprise' %}"><i class="fa fa-check"></i> Business solutions to optimize your work flow</a></li>
								
							</ul>
							
							<div class="icon-box">
										
								<a href="{% url 'enterprise' %}" class="btn">Read More</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="event-bx">
					<div class="action-box">
						<img src="{% static 'assets/robotkids.jpg' %}" alt="">
					</div>
					<div class="info-bx d-flex">
						<div>
							<div class="event-time">
								<div class="event-date"><i class="ti-book"></i></div>
								<div class="event-month"> </div>
							</div>
						</div>
						<div class="event-info">
							<h4 class="event-title"><a href="#">Nimbles Coding Academy</a></h4>
							<ul class="media-post">
								<li><a href="#"><i class="fa fa-check"></i> interesting hands-on coding academy for schools</a></li>
								
							</ul>
							

							<div class="icon-box">
										
								<a href="{% url 'nimblyprog' %}" class="btn">Read More</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>


			<div class="item">
				<div class="event-bx">
					<div class="action-box">
						<img src="{% static 'assets/images/biz.jpg' %}" alt="">
					</div>
					<div class="info-bx d-flex">
						<div>
							<div class="event-time">
								<div class="event-date"><i class="ti-bar-chart-alt"></i></div>
								<div class="event-month"> </div>
							</div>
						</div>
						<div class="event-info">
							<h4 class="event-title"><a href="#">Business intelligence & optimization</a></h4>
							<ul class="media-post">
								<li><a href="#"><i class="fa fa-check"></i>increased ROI with analytics and optimization</a></li>
							
							</ul>
							<!--<p>with our available topnotch facilities we offer onsite training 
							for people who reside within our location </p>-->

							<div class="icon-box">
										
								<a href="{% url 'business' %}" class="btn">Read More</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

	</div>
</div>


<!-- END OF WHAT WE DO -->






        <!-- Main Slider -->
		<div class="content-block">
            <!-- our services -->


			<div class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center" 
			style="background-image:url({% static 'assets/images/bg2.jpg' %});">
                <div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="join-content-bx text-white font-size-20">
								<h2>Become  a tech driven organization </h2>
								<h4> Empower your staff </h4>
								<p>
									The most important investment you can make as a company is to build and equip 
									your employees with relevant workplace tech skills for today’s fiercely
									 competitive business climate. Otherwise, you will be trampled upon by your fast-moving competitors.
									
							
									</p>

									<p>In addition to training, we also prepare you for professional examinations and 
										certifications to boost your qualifications. This way, you are always on top of your career ladder.</p>
								<a href="{% url 'courses' %}" class="btn button-md">Join Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Form END -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						 <div class="col-lg-6 m-b30">
							<h2 class="title-head ">why choose us  <br> <span class="text-primary"></span></h2>
							<h5> Here's our culture </h5>
						
							
						 </div>
						 <div class="col-lg-6 p-5 event-bx">
							 <div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
									<div class="feature-container ">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="assets/images/icon/icon1.png" alt=""></a> 
										</div>
										<div class="icon-content">
											<h5 class="ttr-tilte">Excellence</h5>
											<p>We’re committed to an excellent and timely delivery of high quality 
												services to our esteemed clients.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="assets/images/icon/icon2.png" alt=""></a> 
										</div>
										<div class="icon-content">
											<h5 class="ttr-tilte">Solution driven</h5>
											<p>We geared to use technology as a tool to solve real-life 
												problems faced by businesses today.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="assets/images/icon/icon3.png" alt=""></a> 
										</div>
										<div class="icon-content">
											<h5 class="ttr-tilte">Innovative</h5>
											<p> Squared pegs fitting the seemingly impossible into possible round holes.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="assets/images/icon/icon4.png" alt=""></a> 
										</div>
										<div class="icon-content">
											<h5 class="ttr-tilte">Client centric</h5>
											<p>our clients are our topmost priority, so we esteem their opinions in the  processes.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			
			<!-- Contact -->
			<div class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center" 
			style="background-image:url({% static 'assets/images/bg2.jpg' %});">
                <div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="join-content-bx text-white">
								<h2>Do you need any of our services <br> </h2>
								
								<p>we had love to know </p>
								<a href="https://wa.link/qkk0uc" class="btn button-md"><i class="fa fa-whatsapp" 
									aria-hidden="true"></i> chat</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Testimonials END -->
			
        </div>
		<!-- contact area END -->
    </div>
    <!-- FOOTER ZONE -->
	{% include 'netrybe/footer.html' %}




    <button class="back-to-top fa fa-chevron-up" ></button>
</div>

<!-- External JavaScripts -->

<!-- External JavaScripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'assets/vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/filter.js' %}"></script>
<script src="{% static 'assets/vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/functions.js' %}"></script>
<script src="{% static 'assets/js/contact.js' %}"></script>

<!-- Revolution JavaScripts Files -->
<script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->

<!--  POP DISPLAY FOR SIWES PROGRAM--->
 <script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=9e1083a67df4b' async='true'></script> 


</body>

</html>
